# calculations and data manipulation
pandas==2.1.0
numpy==1.24.3

# data visualization
matplotlib==3.7.2
seaborn==0.12.2

# statistical analysis
scipy==1.11.1

# UI framework
streamlit==1.28.0

# testing framework
pytest==8.4.2

# client for Polygon API
polygon-api-client==1.16.3

# python environment management
python-dotenv==1.2.1